{% extends 'layout.html' %}
{% block body %}
<div id="div_main">
    <div id="div_tree">
        <div class="list-group">
            {% for file, tab in ftab.items() %}
                <a href="#" onclick="get_files('{{ tab }}')" class="list-group-item list-group-item-action">
                    {% for t in range(split(tab)) %}&nbsp;{% endfor %}
                    {{ file }}
                </a>
            <script type="text/javascript">

            </script>
            {% endfor %}
        </div>
    </div>
    <div id="div_search">
        <form>
            <input id="input_search" class="form-control" type="text" name="search"/>
            <button id="button_search" type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div id="div_tags">
        <ul class="list-group">
            {% for tag in tags %}
                <li class="list-group-item">{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="div_files">
        <iframe id="iframe_files" src="/files/"></iframe>
    </div>
</div>
{% endblock %}
